<form (ngSubmit)="onSubmit()" class="search-bar">
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="onSearchEngineChange('Google'); searchInput.focus()"
    >
      <fa-icon [icon]="faGoogle"></fa-icon>
      <span> Google</span>
    </button>
    <button
      mat-menu-item
      (click)="onSearchEngineChange('StackOverflow'); searchInput.focus()"
    >
      <fa-icon [icon]="faStackOverflow"></fa-icon>
      <span> StackOverflow</span>
    </button>
  </mat-menu>
  <mat-form-field style="width: 350px;">
    <mat-label>Search With {{ searchEngine }}</mat-label>
    <div matPrefix class="prefix-icon" (click)="$event.stopPropagation()">
      <fa-icon [icon]="searchIcon" [matMenuTriggerFor]="menu"></fa-icon>
    </div>
    <input
      #searchInput
      matInput
      [(ngModel)]="searchContent"
      name="searchContent"
      autofocus
    />
    <button
      mat-button
      *ngIf="searchContent"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchContent = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button hidden type="submit"></button>
  </mat-form-field>
</form>
